@import "https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,400i,700,700i|Product+Sans|Roboto+Mono";
@import "_mixins";

* {
  font-family: Roboto, sans-serif;
}
*[flex] {
  display: flex;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
}

.btn {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.5s cubic-bezier(.17,.67,.84,.65);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.fab {
  border-color: transparent;
  border-radius: 100%;
  height: 5em;
  width: 5em;
  transition: all 0.5s cubic-bezier(.17,.67,.84,.65);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

.hidden {
  display: none !important;
}
.product-sans {
  font-family: "Product Sans";
}
.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}