$break-small: 600px;
$break-medium: 960px;
$break-large: 1280px;
$break-xlarge: 1920px;

$main-color: #303F9F;
$accent-color: #536DFE;
$primary-text: #212121;
$secondary-text: #727272;
$alert-color: #F44336;
$warning-color: #FFC107;
