@import "_main";
.container {
  background-color: white;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 0.5em;
  height: 100%;
}
.editor {
  margin: 0px 0.5em;
  flex-direction: column;
  align-items: stretch;
  min-width: 100%;
  min-height: 100%;
}
wiki-editor {
  min-height: 100%;
  flex: 1;
}
article {
  font-size: larger;
  width: 100%;
}
.actions {
  align-self: flex-end;
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1em;
}
.actions .btn {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.articleContainer {
  margin: 0px 0.5em;
  flex-grow: 1;
}

#titleContainer {
  display: inline-flex;
  width: 100%;
}

#title {
  border-bottom: 1px solid #aaa;
  flex-grow: 1;
}

#titleBox {
  display: inline-flex;
  width: 100%;
  align-content: stretch;
  justify-content: flex-start;
  align-items: flex-end;
}

#titleInput {
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px rgba(100,100,100,0.5) solid;
  font-size: 2em;
  margin-top: 0.67em;
  font-weight: bold;
  flex-grow: 1;
}

#titleInput:active, #titleInput:hover {
  border-bottom: 1px #303F9F solid;
}

div.tags {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding: 0.5em;
  width: 95%;
  border-bottom: 1px rgba(100,100,100,0.5) solid;
}

.articleContainer > .tags {
  flex-direction: row;
}

#tagAdder {
  -webkit-appearance: none;
  outline: none;
  border: none;
  flex-grow: 1;
  font-size: larger;
}

#star {
  content: "star-border";
  &.saved {
    content: "star";
  }
}

#deleteBtn {
  background-color: #F44336;
}
