@import "_main";
.container {
  padding: 0.1em 0.2em;
  display: inline-flex;
  align-items: center;
  background-color: #aaa;
  border-radius: 25px;
}

#chit {
  padding: 0em 0.2em;
}

#delete {
  border-radius: 25px;
  cursor: pointer;
}
#delete:hover {
  background-color: #bbb;
}