@import "_main";
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: white;
}
#blurb {
  color: rgba(100, 100, 100, 0.5);
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}
h1 {
  margin: 0;
}

#tags {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5em;
}

.tag {
  padding: 0px 0.5em;
  margin: 0px 0.5em;
  border-radius: 25px;
  background-color: rgba(100,100,100,0.2);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  &:first-child{
    margin: 0px 0.5em 0px 0px;
  }
}